
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap");

body {
  line-height: 170%;
  background-color: #161a22;
  color: #fff;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
}
.loaded {
  overflow: visible;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}
a:hover {
  text-decoration: none;
}
.loader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: #161a22;
  z-index: 9999;
  overflow: hidden;
}
.loader-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
  right: -7px;
  animation: loading 1s infinite alternate;
  -webkit-animation: loading 1s infinite alternate;
}
.loaded .loader {
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
@keyframes loading {
  0% {
    letter-spacing: 2px;
    transform: translateY(-50%) skewY(5deg);
    -webkit-transform: translateY(-50%) skewY(5deg);
    -moz-transform: translateY(-50%) skewY(5deg);
    -ms-transform: translateY(-50%) skewY(5deg);
    -o-transform: translateY(-50%) skewY(5deg);
  }
  50% {
    letter-spacing: 10px;
    transform: translateY(-50%) skewY(-5deg);
    -webkit-transform: translateY(-50%) skewY(-5deg);
    -moz-transform: translateY(-50%) skewY(-5deg);
    -ms-transform: translateY(-50%) skewY(-5deg);
    -o-transform: translateY(-50%) skewY(-5deg);
  }
  100% {
    letter-spacing: 2px;
    transform: translateY(-50%) skewY(5deg);
    -webkit-transform: translateY(-50%) skewY(5deg);
    -moz-transform: translateY(-50%) skewY(5deg);
    -ms-transform: translateY(-50%) skewY(5deg);
    -o-transform: translateY(-50%) skewY(5deg);
  }
}
.rotate-text {
  position: fixed;
  bottom: 0;
  line-height: .7;
  font-size: 20vw;
  width: 100vw;
  overflow: hidden;
  font-weight: 900;
  text-transform: uppercase;
  pointer-events: none;
  z-index: -1;
  opacity: .015;
  left: 0;
}
.main-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 70px;
}
.intro {
  height: calc(100vh - 70px);
  padding-top: 50px;
}
.row {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  width: 100%;
  z-index: 9998;
  max-width: 1200px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
header nav {
  height: 50px;
  line-height: 50px;
  position: relative;
  z-index: 9999;
}
.header-unpinned {
  transform: translateY(calc(-100% - 70px));
  -webkit-transform: translateY(calc(-100% - 70px));
  -moz-transform: translateY(calc(-100% - 70px));
  -ms-transform: translateY(calc(-100% - 70px));
  -o-transform: translateY(calc(-100% - 70px));
}
.socials {
  display: inline-block;
}
.socials li {
  display: inline-block;
}
.socials li a {
  color: #eee;
  padding: 0 10px;
  display: block;
}
.socials li a:hover {
  opacity: .7;
}
.vertical-divider {
	display: inline-block;
	height: 24px;
	width: 1px;
	background-color: #eee;
	position: relative;
	top: 6px;
	margin-right: 40px;
	margin-left: 25px;
}
.menu-toggle {
  height: 50px;
  width: 28px;
  float: right;
}
.menu-icon {
  width: 28px;
  height: 18px;
}
.menu-line {
  background-color: #eee;
  height: 1px;
}
.logo a {
  font-weight: 600;
  color: #eee;
  font-size: 18px;
}
.logo a:hover {
  opacity: .7;
}
.menu-wrapper {
  position: fixed;
  width: calc(100% - 100px);
  height: 0;
  top: 50px;
  left: 50px;
  overflow: hidden;
  z-index: 999;
  background-color: #0e1015;
  transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu-wrapper.show {
	height: calc(100% - 100px);
  transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.link-item {
  background-color: #161a22;
  transform: translateY(75px);
  -webkit-transform: translateY(75px);
  -moz-transform: translateY(75px);
  -ms-transform: translateY(75px);
  -o-transform: translateY(75px);
  opacity: 0;
}
.link-item.show {
  transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  opacity: 1;
}
.link-item-2.show {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}
.menu-wrapper.show .link-item {
  opacity: 1;
}
.link-item a {
  display: block;
  padding: 50px 40px;
  color: #fff;
  position: relative;
  z-index: 1;
}
.link-item a::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  background-color: #0e1015;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  z-index: -1;
}
.link-item a:hover::after {
  width: 100%;
  right: auto;
  left: 0;
  transition: .15s;
  -webkit-transition: .15s;
  -moz-transition: .15s;
  -ms-transition: .15s;
  -o-transition: .15s;
}
.link-item a:hover {
  color: #c4ae91;
}
.link-item img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.link-item h3 {
  font-size: 24px;
  margin: 20px 0;
  font-weight: 600;
  transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: skewX(-8deg);
  -webkit-transform: skewX(-8deg);
  -moz-transform: skewX(-8deg);
  -ms-transform: skewX(-8deg);
  -o-transform: skewX(-8deg);
}
.link-item a:hover h3 {
  transform: skewX(0deg);
  -webkit-transform: skewX(0deg);
  -moz-transform: skewX(0deg);
  -ms-transform: skewX(0deg);
  -o-transform: skewX(0deg);
}
.link-item p {
  margin-bottom: 15px;
}
.link-item .arrow-right {
  margin-bottom: -12px;
  transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.link-item a:hover .arrow-right {
  margin-left: 20px;
}

/* ===============
  home-intro style start 
=============== */
.home-intro h2 {
	font-size: 42px;
	font-weight: 600;
	margin-bottom: 15px;
	margin-top: -10px;
}
.home-intro h2 span {
  display: block;
}
.home-intro h4 {
  font-size: 21px;
  font-weight: 400;
  opacity: .7;
}
.home-intro .arrow-down {
  margin-top: 80px;
}
.home-intro .arrow-down svg {
  animation: showHideAnim .6s infinite alternate-reverse;
  -webkit-animation: showHideAnim .6s infinite alternate-reverse;
}
@keyframes showHideAnim{0%{opacity:0;margin-top:-30px;transform:scaleX(.2);-webkit-transform:scaleX(.2);-moz-transform:scaleX(.2);-ms-transform:scaleX(.2);-o-transform:scaleX(.2)}50%{opacity:1;margin-top:0;transform:scaleX(0deg);-webkit-transform:scaleX(0deg);-moz-transform:scaleX(0deg);-ms-transform:scaleX(0deg);-o-transform:scaleX(0deg)}75%{opacity:1;margin-top:0;transform:scaleX(0deg);-webkit-transform:scaleX(0deg);-moz-transform:scaleX(0deg);-ms-transform:scaleX(0deg);-o-transform:scaleX(0deg)}100%{opacity:1;margin-top:0;transform:scaleX(0deg);-webkit-transform:scaleX(0deg);-moz-transform:scaleX(0deg);-ms-transform:scaleX(0deg);-o-transform:scaleX(0deg)}}
@-webkit-keyframes showHideAnim{0%{opacity:0;margin-top:-30px;transform:scaleX(.2);-webkit-transform:scaleX(.2);-moz-transform:scaleX(.2);-ms-transform:scaleX(.2);-o-transform:scaleX(.2)}50%{opacity:1;margin-top:0;transform:scaleX(0deg);-webkit-transform:scaleX(0deg);-moz-transform:scaleX(0deg);-ms-transform:scaleX(0deg);-o-transform:scaleX(0deg)}75%{opacity:1;margin-top:0;transform:scaleX(0deg);-webkit-transform:scaleX(0deg);-moz-transform:scaleX(0deg);-ms-transform:scaleX(0deg);-o-transform:scaleX(0deg)}100%{opacity:1;margin-top:0;transform:scaleX(0deg);-webkit-transform:scaleX(0deg);-moz-transform:scaleX(0deg);-ms-transform:scaleX(0deg);-o-transform:scaleX(0deg)}}

/* ===============
  showcase style start 
=============== */
.showcase-item{
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 70px;
}
.showcase-item img {
  opacity: 1;
  display: block;
  will-change: opacity,transform;
  transition: opacity .4s cubic-bezier(.48,.04,.52,.96),-webkit-transform .4s cubic-bezier(.48,.04,.52,.96);
  -webkit-transition: opacity .4s cubic-bezier(.48,.04,.52,.96),-webkit-transform .4s cubic-bezier(.48,.04,.52,.96);
  -moz-transition: opacity .4s cubic-bezier(.48,.04,.52,.96),-webkit-transform .4s cubic-bezier(.48,.04,.52,.96);
  -ms-transition: opacity .4s cubic-bezier(.48,.04,.52,.96),-webkit-transform .4s cubic-bezier(.48,.04,.52,.96);
  -o-transition: opacity .4s cubic-bezier(.48,.04,.52,.96),-webkit-transform .4s cubic-bezier(.48,.04,.52,.96);
}
.showcase-item:hover img,
.showcase-item figcaption {
	opacity: 0;
	transform: scale(1.3) translateZ(0);
	-webkit-transform: scale(1.3) translateZ(0);
	-moz-transform: scale(1.3) translateZ(0);
	-ms-transform: scale(1.3) translateZ(0);
	-o-transform: scale(1.3) translateZ(0);
}
.showcase-item:hover img {
  opacity: .03;
}
.showcase-item figcaption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) skewX(-12deg);
	-webkit-transform: translate(-50%, -50%) skewX(-12deg);
	-moz-transform: translate(-50%, -50%) skewX(-12deg);
	-ms-transform: translate(-50%, -50%) skewX(-12deg);
	-o-transform: translate(-50%, -50%) skewX(-12deg);
	color: #fff;
	font-size: 24px;
	font-weight: 100;
	line-height: 1.4;
	letter-spacing: 3px;
	text-transform: uppercase;
	transition: .4s cubic-bezier(.48,.04,.52,.96);
	-webkit-transition: .4s cubic-bezier(.48,.04,.52,.96);
	-o-transition: .4s cubic-bezier(.48,.04,.52,.96);
	-moz-transition: .4s cubic-bezier(.48,.04,.52,.96);
	-ms-transition: .4s cubic-bezier(.48,.04,.52,.96);
	-webkit-transition-delay: .16s;
	transition-delay: .16s;
}
.showcase-item:hover figcaption {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1.1);
	-webkit-transform: translate(-50%, -50%) scale(1.1);
	-moz-transform: translate(-50%, -50%) scale(1.1);
	-ms-transform: translate(-50%, -50%) scale(1.1);
	-o-transform: translate(-50%, -50%) scale(1.1);
}
.showcase-item:hover figcaption,
.showcase-item:hover img {
	-webkit-transition-timing-function: cubic-bezier(.16,1.08,.38,.98);
	-o-transition-timing-function: cubic-bezier(.16,1.08,.38,.98);
	transition-timing-function: cubic-bezier(.16,1.08,.38,.98);
	-webkit-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
}

/* ===============
  next-page style start 
=============== */
.next-page {
  padding: 40px 0;
}
.next-page a {
  color: #fff;
  opacity: .3;
  display: inline-block;
  padding: 30px 0;
  overflow: hidden;
  text-align: left;
}
.next-page a:hover {
  color: #c4ae91;
  opacity: 1;
  padding-left: 70px;
  transform: skewX(-5deg);
  -webkit-transform: skewX(-5deg);
  -moz-transform: skewX(-5deg);
  -ms-transform: skewX(-5deg);
  -o-transform: skewX(-5deg);
}
.next-page h2 {
  font-weight: 700;
  margin-bottom: 5px;
}
.next-page .arrow-right {
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
  transform: translate(-30px, -50%);
  -webkit-transform: translate(-30px, -50%);
  -moz-transform: translate(-30px, -50%);
  -ms-transform: translate(-30px, -50%);
  -o-transform: translate(-30px, -50%);
}
.next-page a:hover .arrow-right {
  opacity: 1;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

/* ===============
  about-page style start 
=============== */
.about-intro {
	padding: 150px 0 50px 0;
	margin-bottom: 15px;
}
.info-section {
  margin-top: 100px;
}
.section-title {
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 35px;
	font-weight: 600;
}
.about-intro .about-info-text {
  font-size: 32px;
  line-height: 1.6;
  font-weight: 200;
  color: #aaa;
}
.experience-item,
.expertise-item {
	margin-top: 35px;
  cursor: default;
}
.experience-item:last-child {
	margin-bottom: 0;
}
.experience-item h5,
.expertise-item h5 {
  color: #aaa;
  margin-bottom: 10px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
  -o-transition: .3s;
}
.experience-item p,
.expertise-item p {
  color: #666;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
  -o-transition: .3s;
}
.experience-item:hover h5,
.experience-item:hover p,
.expertise-item:hover h5,
.expertise-item:hover p {
  color: #fff;
}
.expertise-item span {
	position: absolute;
	margin-top: 10px;
	font-size: 25px;
}
.social-item a {
	width: 150px;
	float: left;
	margin-right: 30px;
	text-align: center;
	background-color: #000;
	color: #fff;
	margin-top: 40px;
	padding: 60px 0;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.social-item a:hover {
  opacity: .6;
  box-shadow: 0 4px 15px #111;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}
/* .social-item a {
	display: block;
	padding: 60px 0;
	color: inherit;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
} */
.social-item span {
  display: block;
}
.social-item span[class^="ti-"] {
	margin-bottom: 14px;
	font-size: 22px;
}
.social-item.email a {
  background-color: rgb(100, 115, 106);
}
.social-item.twitter a {
  background-color: #1DA1F2;
}
.social-item.facebook a {
  background-color: #3B5999;
}
.social-item.linkedin a {
  background-color: #0E76A8;
}
.social-item.instagram a {
  background: #dc2743;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

/* ===============
  contact style start 
=============== */
.contact-intro {
  padding: 150px 0 50px 0;
}
.contact-header {
	font-size: 38px;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 50px;
	margin-top: -6px;
}
.contact-text {
	margin-bottom: 50px;
	font-size: 17px;
  line-height: 1.6;
  color: #aaa;
}
.input_field {
  height: 55px;
  border: 1px solid #323337;
  border-bottom: 0;
  background-color: transparent;
  color: #fff;
  padding: 0 20px;
  width: 100%;
  outline: 0;
  box-shadow: none;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.input_field:focus {
	background-color: rgba(52, 66, 74, 0.3);
}
textarea.input_field {
	height: 150px;
	border-bottom: 1px solid #323337;
	resize: none;
  padding: 15px 20px;
}
.form-btn {
	border: 1px solid #515255;
	background-color: transparent;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	height: 45px;
	padding: 0 30px;
	margin-top: 30px;
	cursor: pointer;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.form-btn:focus {
  outline: 0;
}
.form-btn:hover {
  background-color: rgba(52, 66, 74, 0.3);
  border: 1px solid #323337;
}
/* -- FORM Validation style start */
.error {
  color: #fb174b;
  margin-bottom: 30px;
}
.success {
  color: #62db7e;
  margin-bottom: 30px;
}
.invalid {
  color: #fb174b;
}
.inputEmpty::-webkit-input-placeholder {
  color: #fb174b;
  opacity: 1;
}
.inputEmpty::-moz-placeholder {
  color: #fb174b;
  opacity: 1;
}
.inputEmpty:-ms-input-placeholder {
  color: #fb174b;
  opacity: 1;
}
.inputEmpty:-moz-placeholder {
  color: #fb174b;
  opacity: 1;
}

/* FORM Validation style end */

.contact-info-box {
  margin-bottom: 30px;
}
.contact-info-box:last-child {
  margin-bottom: 60px;
}
.contact-info-box h5 {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #9999;
}
.contact-info-box p {
  color: #eee;
}

/* ===============
  copyright-text & scroll-top style start 
=============== */
.copyright-text {
  padding-top: 60px;
  padding-bottom: 70px;
}
.scrollTop {
  float: right;
}
.copyright-text.text-center .scrollTop {
	float: none;
	display: inline-block;
}
.arrow-top {
  width: 60px;
  text-align: right;
	position: relative;
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
}
.arrow-top::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 20px;
	background-color: #555;
  left: 0;
  top: 50%;
}
.arrow-top svg {
  animation: showHideAnim .6s infinite alternate-reverse;
  -webkit-animation: showHideAnim .6s infinite alternate-reverse;
}
.copyright-text p {
  display: inline-block;
}
.copyright-text.text-center {
  padding-top: 50px;
}
.copyright-text.text-center p {
	display: block;
	margin-top: 40px;
}
.copyright-text.text-center .arrow-top {
  width: initial;
  margin-right: 0;
}
.copyright-text.text-center .arrow-top::after {
  display: none;
}

/* ===============
  project-details style start 
=============== */
.work-details {
  padding: 150px 0 30px 0;
}
.work__details_info {
  margin-bottom: 70px;
}
.work__details_info .work__title {
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 700;
}
.work__details_info p {
	font-size: 17px;
	font-weight: 600;
	opacity: .6;
}
.work__details_text,
.work__details_info_cards,
.work__image {
	margin-bottom: 70px;
}
.work__details_info_cards .card__item {
	border: 1px solid #282e39;
	padding: 15px 20px;
	margin-bottom: 25px;
}
.work__details_text {
	color: #999;
	line-height: 2;
}
.card__item h6 {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 5px;
	opacity: .5;
}